In [5]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
import pandas as pd
import matplotlib as plt

In [6]:
df = pd.read_csv('salary.csv')

In [7]:
df

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872
30             11.2  127345
31             11.5  126756
32             12.3  128765
33             12.9  135675
34             13.5  139465

In [8]:
x_train = np.asarray(df['YearsExperience'])
y_train = np.asarray(df['Salary'])
y_train[0:5]

array([39343, 46205, 37731, 43525, 39891], dtype=int64)

In [10]:
model = keras.Sequential([keras.layers.Dense(units=1,input_shape=[1])])

In [11]:
model.compile(optimizer='sgd',loss='mean_squared_error')

In [12]:
model.fit(x_train, y_train,epochs=10)

Train on 35 samples
Epoch 1/10
35/35 [==============================] - 2s 53ms/sample - loss: 7791190235.8857
Epoch 2/10
35/35 [==============================] - 0s 544us/sample - loss: 376128459.8857
Epoch 3/10
35/35 [==============================] - 0s 486us/sample - loss: 582883511.5429
Epoch 4/10
35/35 [==============================] - 0s 572us/sample - loss: 211872905.1429
Epoch 5/10
35/35 [==============================] - 0s 514us/sample - loss: 382332910.1714
Epoch 6/10
35/35 [==============================] - 0s 514us/sample - loss: 234382488.6857
Epoch 7/10
35/35 [==============================] - 0s 485us/sample - loss: 523187265.1429
Epoch 8/10
35/35 [==============================] - 0s 457us/sample - loss: 214573733.4857
Epoch 9/10
35/35 [==============================] - 0s 486us/sample - loss: 244971145.1429
Epoch 10/10
35/35 [==============================] - 0s 457us/sample - loss: 202248077.2571

In [13]:
print(model.predict([14]))

[[158480.25]]